.imageSection img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: contrast(130%);
}
.loginSection {
  background: linear-gradient(rgba(0, 0, 0, 0.585), #5d6d7ea5);
  backdrop-filter: blur(10px);
  width: 25%;
  height: fit-content;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 30px;
  gap: 3rem;
  border: 1px solid white;
}
.loginSection > img {
  position: absolute;
  height: 15rem;
  top: -4rem;
  right: -5rem;
}

.signInBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}
.signInBtn img {
  height: 2.5rem;
}
.signInBtn h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 550;
  font-size: 1.1rem;
}
.signInBtn {
  background-color: white;
  border-radius: 50px;
  margin: 0 auto;
  border: none;
  box-shadow: inset -0.25rem -0.25rem 1rem rgba(0, 0, 0, 0.594);
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}
.signInBtn:hover {
  background-color: rgba(0, 0, 0, 0.823);
  color: white;
}
.signInBtn:active {
  transform: scale(0.98);
  background-color: rgba(0, 0, 0, 0.823);
  color: white;
  opacity: 0.5;
}
.loginSection h1 span {
  color: gold;
  text-shadow: 0.2rem 0.2rem 0.3rem black;
}
.loginSection p {
  font-family: cursive;
  font-size: 0.9rem;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
}

.sidebar {
  width: 220px;
  background-color: #2a2a2d;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  border-right: 1px solid #3a3a3d;
  position: fixed;
  z-index: 1000;
  height: 100%;
}
.sidebar button:last-child {
  background-color: red;
  position: absolute;
  bottom: 15px;
  width: 85%;
}

.tabButton {
  padding: 12px 20px;
  margin-top: 15px;
  background: transparent;
  border: 1px solid #444;
  border-radius: 8px;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.tabButton:hover {
  background-color: #333;
}

.active {
  background-color: rebeccapurple;
  color: white;
  border-color: rebeccapurple;
}

.content {
  flex: 1;
  padding: 40px;
  position: relative;
}

.formWrapper {
  max-width: 500px;
  margin: 2rem auto;
  background: linear-gradient(rgba(255, 255, 255, 0.685), rgba(0, 0, 0, 0.232));
  box-shadow: 0 0.5rem 0.4rem black;
  padding: 1rem 2rem;
  backdrop-filter: blur(5px);
  border-radius: 15px;
}

.formWrapper h2 {
  margin-bottom: 0.8rem;
  font-size: 24px;
  color: black;
}

.generateBtn {
  padding: 10px 20px;
  background-color: rebeccapurple;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}

.generateBtn:hover {
  background-color: rgb(127, 30, 224);
}

.roomIdDisplay {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  background-color: #29292c;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  border: 1px solid #444;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
}

.input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.leaderboardTable {
  width: 80%;
  border-collapse: collapse;
  background-color: red;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  position: relative;
  left: 60%;
  top: 50%;
  transform: translate(-50%, 0%);
}

.leaderboardTable th,
.leaderboardTable td {
  padding: 12px;
  text-align: center;
}

.leaderboardTable th {
  background-color: #f4f4f9;
  color: #333;
  font-weight: bold;
}

.leaderboardTable td {
  background-color: #ffffff;
  color: #555;
}

.leaderboardTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.leaderboardTable tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}
