@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");

body {
  margin: 0;
  padding: 0;
}
.wrapper {
  overflow: hidden;
}

/* Scrollbar styling for modern browsers */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* Light thumb */
  border-radius: 10px;
  transition: background 0.3s ease;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0);
}

/* Firefox scrollbar */
body {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 0, 0) transparent;
}
